.add_field_button {
    text-align: center;
    padding: 2px 15px;
    margin: 0 -10px;
}
button#language_translation {
    padding: 7px 25px;
    font-size: 18px;
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
a.remove_field {
/*    margin-top: 0px !important;*/
    float: left;
    color: #ff0a0a;
    font-size: 26px;
}
a.remove_field:hover{
    color: #c30000;
}
.translation_msg {
    font-size:18px;
    margin-top:5px;
    float:left;
}