version: '3'
services:
      web:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ../:/app
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php


      php:
    build:
      context: ..
      dockerfile: PHP.Dockerfile
    restart: unless-stopped
    volumes:
      - ../:/app
    depends_on:
      - db


    db:
        image: mariadb:latest
        environment:
            MYSQL_USER: 'minical'
            MYSQL_PASSWORD: 'MiniCalPwd'
            # ensure the password matches the DATABASE_PASS above
            MYSQL_ROOT_PASSWORD: 'MiniCalPwd'
            # ensure the name matches the DATABASE_NAME above
            MYSQL_DATABASE: 'minical'
        volumes:
            - mysqldata:/var/lib/mysql
        ports:
            - 3306:3306

     composer:
    image: composer:2
    working_dir: /app
    volumes:
      - ../:/app
    depends_on:
      - php
    command: install

        

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - '8888:80'
        environment:
            PMA_HOST: db
        depends_on:
            - db

volumes:
    mysqldata: {}
