<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <webSocket enabled="false" />
        <handlers>
            <remove name="PHP56_via_FastCGI" />
            <add name="PHP56_via_FastCGI" path="*.php" verb="GET,PUT,POST,DELETE,HEAD,OPTIONS,TRACE,PROPFIND,PROPPATCH,MKCOL,COPY,MOVE,LOCK,UNLOCK" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <staticContent>
            <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".woff2" /> <!-- In case IIS already has this mime type -->
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
        </staticContent>    
        <rewrite>
            <!--This directive was not converted because it is not supported by IIS: RewriteBase /.-->
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <!--This rule was not converted because it contains references that are not supported: 'ENV::REDIRECT_STATUS'-->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?/{R:1}" appendQueryString="false" />
                </rule>
                
                
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^[^.]+\.[^.]+$" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.snaploot.com" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/springs-motor-inn" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.springsmotorinn.com" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/springs-motor-inn" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.hojoyorkton.ca" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/broadway-lodge" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.magnusoncreston.com" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/magnuson-creston" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.horizonmotel.ca" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/horizon-motel" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.aladdinmotel.ca" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/aladdin-motel" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.bowriverinn.com" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/bow-river-inn" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.westviewvegreville.ca" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/west-view-motel" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.traveliermotel.com" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/travelier-motel" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.littlerivermotel.com" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/little-river-motel" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.voyageurmotel.ca" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/voyageur-motel" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{http_host}" pattern="^www.galaxymotel.ca" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://www.inngrid.net/galaxy-motel" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>