.theme-1 .fc-event {
	border-color: transparent;
    background-color: transparent;
	border: none !important;
}
/*.theme-1 .fc-event,*/ 
.theme-1 .fc-agenda .fc-event-time, 
.theme-1 .fc-event a {
	border-color: #389af0;
    background-color: #389af0;
    color: white;
    border-radius: 3px;
    padding: 1px;
	font-size: 15px;
}
/* 
	In-house bookings 
*/
/*.theme-1 .fc-event1,*/
.theme-1 .fc-agenda .holiday .fc-event-time,
.theme-1 .fc-event1 a {
	background-color: #28a745;
    border-color: #28a745;
    color: white;
	border-radius: 3px;
}

/* 
	Checked-out bookings
*/
/*.theme-1 .fc-event2,*/
.theme-1 .fc-agenda .holiday .fc-event-time,
.theme-1 .fc-event2 a {
	background-color: #E67D21;
    border-color: #E67D21;
    color: white;
	border-radius: 3px;
}

/*.theme-1 .fc-event3,*/
.theme-1 .fc-agenda .holiday .fc-event-time,
.theme-1 .fc-event3 a {
	background-color: #ddd;
    border-color: #ddd;
    color: black;
	border-radius: 3px;
}

/*
	Unconfirmed reservatoin bookings
*/

/*.theme-1 .fc-event7,*/
.theme-1 .fc-agenda .fc-event-time,
.theme-1 .fc-event7 a {
	border-style: solid; 
	background-color: white; /* default BACKGROUND color */
	color: black;   
	border-radius: 3px;
}

/*
	Unconfirmed reservatoin bookings
*/

/*.theme-1 .fc-event5,*/
.theme-1 .fc-agenda .fc-event-time,
.theme-1 .fc-event5 a {
	border-style: solid; 
	background-color: #e63600; /* default BACKGROUND color */
	color: black;            /* default TEXT color */
	border-radius: 3px;
}

/* Horizontal Events
------------------------------------------------------------------------*/

.theme-1 .fc-event-hori {
	/*border-width: 1px 0;*/
	margin-bottom: 1px;
}
.theme-1 .fc-content .fc-corner-left a {
	border-left-width: 2px;
}
.theme-1 .fc-content .fc-corner-right a {
    border-right-width: 2px;
}

/* Located here to override fc-event-hori making border-width 1px 0*/
.theme-1 .border-red a {
	border-width: 2px;
	border-color: red;
	border-style: solid;
}

.theme-1 .fc-event-hori a {
	border-width: 2px;
}
.theme-1 .vip a:hover {
    background-color: #DAA520;
}

.theme-1 .blacklist a:hover {
    background-color: #FF0000;
}

.theme-1 .fc .fc-grid th {
	line-height: 12px;
    font-weight: 900;
    font-size: 13px;
}
.theme-1 .fc .fc-grid th .month,
.theme-1 .fc .fc-grid th .day {
    font-size: 10px;
	font-weight: normal;
	line-height: 16px;
	color: #4a4a4a;
}
.theme-1 .fc-content [data-day="sat"], 
.theme-1 .fc-content [data-day="sun"] {
    background-color: #fff2f0;
}